/* https://www.iconfinder.com/iconsets/musthave */
.icon-send {
    background-image:url(images/srytd/send.png) !important;
}

.icon-manual-value {
    background-image:url(images/srytd/manual-value.png) !important;
}

.icon-config {
    background-image:url(images/srytd/config.png) !important;
}

.icon-detail {
    background-image:url(images/srytd/detail.png) !important;
}

.icon-logout {
    background-image:url(images/srytd/logout.png) !important;
}

.icon-manual-send {
    background-image:url(images/srytd/manual-send.png) !important;
}

.icon-resend {
    background-image:url(images/srytd/resend.png) !important;
}

.icon-download {
    background-image:url(images/srytd/download.png) !important;
}

.icon-save {
    background-image:url(images/srytd/save.png) !important;
}

.icon-add {
    background-image:url(images/srytd/add.png) !important;
}

.icon-delete {
    background-image:url(images/srytd/delete.png) !important;
}

.icon-user {
    background-image:url(images/srytd/user.png) !important;
}

.icon-mapping {
    background-image:url(images/srytd/mapping.png) !important;
}

.icon-properties {
    background-image:url(images/srytd/properties.png) !important;
}


