<?xml version="1.0"?>
<config>

	<!-- SQLServer datasource properties -->
<!-- 	<sqlserver-url>jdbc:mysql://127.0.0.1/srytd_sqlserver</sqlserver-url> -->
<!-- 	<sqlserver-user>root</sqlserver-user> -->
<!-- 	<sqlserver-password>root</sqlserver-password> -->
	<sqlserver-url>jdbc:sqlserver://52.27.187.116/srytd_sqlserver</sqlserver-url>
	<sqlserver-user>sa</sqlserver-user>
	<sqlserver-password>SQLs3rv3r</sqlserver-password>

	<!-- MySQL datasource properties -->
	<mysql-url>jdbc:mysql://127.0.0.1/srytd</mysql-url>
	<mysql-user>root</mysql-user>
	<mysql-password>root</mysql-password>
	
	<!-- Mail properties -->
	<mail-from>srytd@gmail.com</mail-from>
	<mail-user>srytd@gmail.com</mail-user>
	<mail-password>srytd</mail-password>
	<mail-smtp-host>smtp.gmail.com</mail-smtp-host>
	<mail-smtp-port>465</mail-smtp-port>
	<mail-smtp-socketFactory-port>465</mail-smtp-socketFactory-port>
	<mail-smtp-socketFactory-class>javax.net.ssl.SSLSocketFactory</mail-smtp-socketFactory-class>
	<mail-smtp-auth>true</mail-smtp-auth>
	
	<!-- Alert mail -->
	<alert-subject>[SRyTD] Error durante el proceso de envío de mediciones de campo</alert-subject>
	<alert-body>
Se produjo un error cuando el usuario %s realizó el procesamiento de las mediciones 
de campo a enviar a la secretaría de energía.
Si necesita más información\, contáctese con un administrador con este código de error: %s
	</alert-body>

	<!-- Process finished notification email -->
	<finish-subject>[SRyTD][%s] Proceso de envío de mediciones de campo finalizado</finish-subject>
	<finish-body>
El proceso correspondiente a la fecha %s hs. finalizó correctamente. 
Se adjunta el archivo envíado a la secretaría de energía.
	</finish-body>
	
	<!-- File format -->
	<decimal-separator>\,</decimal-separator>
	<delimiter>;</delimiter>
	
	<!-- webapp -->
	<http-port>8080</http-port>
	<context-path>/</context-path>
</config>